*{
    color: rgb(7, 7, 7);
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;   
    margin: 0;
    padding: 3px;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{    
    background-color: rgb(88, 88, 143);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    height: 100vh;
}
.bttn{
    padding: 15px 120px;
    border-radius: 40px;
    background-color: rgb(118, 112, 197);
    transition: all .3s ease-in;
    font-weight: bold;
}

.bttn:hover{
    background-color: rgb(190, 190, 190);
    color: #0f0f0f ;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    height: 100%;
    overflow: hidden;
    
}
.organizador__left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:#0a0b5e90;
    padding: 10px;
    border-radius: 40px;
    padding: 25px;
    width: 25%;
    height: 100%;
    
}
.organizador__left img {
    width: 100%;
}

.options{
    width: 100%;
    height: 100%;
}
.options2{
    background-color: #1c0a6b8d;
    width: 100%;
    padding: 10px;
    border-radius: 40px;
}
.options3{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 5px;
}
.caja__musica{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    background-color: #00011390;
    border-radius: 40px;
    padding: 50px;
   
}
/* 


.organizador__left{
    width: 100%;
    height: 100%;
    overflow-y: scroll ;
} */


